#home {
  background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    min-height: 700px;
}

.home-inner {
  margin-top: 100px;
}
