* {
    margin: 0;
}

.body {
    background-color: #373e57;
    /*color: #ccc8db;*/
    font-family: Source Sans Pro sans-serif;
}

/*NAVBAR*/

.navbar {
    background-color: #151728;
    padding: 35px;
    margin-bottom: 10px;
}
/*NAVBAR-END*/

/*HOME*/

#container {
    background-color: #151728;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    font-size: 16px;
    color: #ccc8db;
}
/*HOME-END*/

/*FIRST CONTAINER*/
#container h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    margin-left: 45px;
}

.item1 {
    background-color: #151728;
    color: #ccc8db;
    height: 800px;
    width: 280px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}






.menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 16px;
}
.menu_part2 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.a1, .a2, .a3, .a4, .a5, .a6 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 16px;
}

/*FIRST CONTAINER-END*/


/*SECOND CONTAINER*/
.item2 {
    height: 800px;
    width: 1100px;
    overflow: scroll;
    background-color: #181d2f;
}

.banner {
    width: 1060px;
    height: 300px;
    border-radius: 50px;
    padding: 13px;
}

.profile_picture {
    border-image: round;
    max-width: 20%;
    margin-left: 75px;
}

.profile_menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: #151728;
    height: 60px;
    width: 1085px;
    position: absolute;
}

.profile_texture {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-decoration: none;
}

/*SECOND CONTAINER-END*/

/*THIRD CONTAINER*/
.item3 {
    background-color: #151728;
    color: #ccc8db;
    height: 800px;
    width: 280px;
    justify-content: space-evenly;
    overflow: scroll;
}
.stories_1, .stories_2, .stories_3, .stories_4 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 16px;
}

/*THIRD CONTAINER-END*/
