@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");

.logo{
    width: 30px;
    height: 30px;
    border: 5px solid red;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 10px;
}
body{
   font-family: "Manrope", sans-serif;
   font-size: 30pt;
   padding: 25px;
  
}


.navGroups{
display: flex;
flex-direction: row;
justify-content:space-between;
width: 100%;

}
.menu-item img{
 width: 10px;
 height: 10px;
 align-self: top;
}

.leftSideMenu {
    height: 800px;
    overflow: auto;
    .row{
    margin-top: 20px;
    margin-bottom: 20px;
}
}

.rightSideMenu{
    padding: 20px;
    height: 800px;
    overflow: auto;
}

.menu-item:hover{
    color:red;
}

.user-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.uploadButton{
    width: 120px;
    background-color: transparent;
    border-radius: 450px;
    svg{
        width: 30px;
        padding: 5px;
    }
}

.user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.buttonShowMore{
    border-radius: 450px;
    margin-top: 20px;
    padding: 12px 16px;
    background-color: transparent;
}

.profile{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 45vh;
    max-height: 350px;
    min-height: 270px;
   
}

.profile-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px 4px 0 0;
    
}

.whiteCircle{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 10px;
    background: transparent;
  
   
}

.circle-container{
    position: absolute;
    z-index: 2;
    margin-left: 1370px;
    margin-top: 20px;
}
.iconWhiteCircle{
    svg{
        color: white;
        fill: white;
        margin-left: 10px;
        margin-top: 5px;
    }
}



.photoBottom{
    justify-content: center;
    display: flex;  
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    width: 100%;
    align-self: flex-end;
    height:80px;
    
    
}

.followers{
    .numberİcon{
        color: white;
        margin-top: 25px;
    }
    .number{
        color: white;
        margin-top: 25px;
    }
}

.profile-img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar{
    margin-right: 5px;
    
}

.profile-menu{
    object-fit: cover;
    align-items: center;
    justify-content: space-between;
  
}
.profileMenuButtons{
  justify-content: center;
  cursor: pointer;
  a{
      margin: 10px 5px 0;
      text-decoration: none;
      color: #010101;
     padding: 15px;
      transition: 0.2s;
    
  }

  

}

.profileMenuButtons a:hover{
    color: red;
    border-bottom: 3px solid red;

}





.profileMenuFollowNumber{
    justify-content: end;
    
}

.follow-button{
    border-radius: 25px 0 0 25px;
    background: transparent;
}
.follow-button-self{
    border-radius: 0 25px 25px 0;
    background: transparent;
    margin-left: -2px;
}

.profile-up-menu{
    border-radius: 0 0 6px 6px;
    background-color: rgba(0, 0, 0, 0.3);
}

.dateAdded{
 border-radius: 25px 0 0 25px;
 background: transparent;
 margin-right: -2px;
}

.mostPopular{
border-radius: 0 25px 25px 0;
background-color: rgba(143, 133, 133, 0.1);
}

.buttonPlayAll{
    border-radius: 25px !important;
}

.playAllİtemTwo{
justify-content: center;
}
.playAllİtemThree{
justify-content: end;
}



.arrowIcon{
    
    justify-content: end;
    align-items: flex-end;
   
}

.arrowIcon svg{
    transition: 1s ;
    
    
}

.arrowIcon svg:hover{
    transform: rotate(360deg);
}

.footerButtons{
    border-radius: 25px;
    background-color: transparent;
}

.footerLinks{
    justify-content: center;
}
.footerButtonThree{
    justify-content: end;
}
.termsOfUse{
    display: flex;
    justify-content: end;
}


.vıdeoMenu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.video video{
    transition: 0.4s;
    max-width: 100%;
    display: block;
    border-radius: 4px 4px 0 0;
}
.video {
    overflow: hidden;
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
     
    cursor: pointer;
    &:hover .video-time {
        opacity: 0;
    }
    &:hover video {
     transform: scale(2.2);
     transform-origin: center;
    }
    &:hover .view {
     padding: 10px;
     color: #fff;
    }
   }
   
   .video-time {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 15px;
    font-size: 12px;
    color: #fff;
    bottom: 80px;
    right: 6px;
    transition: .3s ease-in;
   }
   
   
   .video-content {
    width: 100%;
    
    padding: 15px 10px 0;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   } 
   
   .view {
    padding: 10px;
    position: relative;
    
    z-index: 1;
    font-size: 13px;
   }

@media (max-width:768px ){
    .logo, 
    .search,   
    .leftSideMenu, 
    .footer,
    .bigPhoto{
      display: none ;  
    }
    .thirdGroup{
        button, img, svg{
        display: none !important;
    }
    } 
    .vıdeoMenu{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}




