.cont-all{
    background-color: #1f1d2d;
    width: 1080px;
    height: 80vh;
}



.left-side{
    
    .col-name, svg, span, hr{
        color: #67666b;
    }

    .row1:hover{ 
        .logo-left{
    background-color: #ff7551;
    svg{
        color: #ffffff;
    } 
}
    .col-name{
        color: #ffffff;
    }
    }
.row2:hover{ 
        .logo-left{
        background-color: #32a7e2;
        svg{
            color: #ffffff;
        } 
        }
        .col-name{
            color: #ffffff;
        }
    }
.row3:hover{ 
        .logo-left{
     background-color: #6c5ecf;  
     svg{
         color: #ffffff;
     } 
    }
    .col-name{
        color: #ffffff;
    }
}
}
    

.logo-left{
    background-color: grey;
    background-position: center ;
    background-size: cover ;
    margin:2px ;
    border-radius: 10px ;

    svg{
    width:15px;
    height:15px;
    margin-left: -6px;
    margin-top: -2px;
   
    
    }
    margin-right: 5px !important;
}
.active{
    .logo-left{
        background-color: #ff7551;
        svg{
            color: #ffffff;
        } 
    }
        .col-name{
            color: #ffffff;
        }
}

.navbar{
  background-color:#1f1d2d !important;  
}

.search{
    background-color: #fff !important;
    border: none;  
    border-radius: 5px;
    width: 400px;
    height: 30px;
    input{
      color: white; 
        }
}


.symbol{
    margin-left: -20px;
    margin-top: 5px;
    color: rgb(189, 176, 212);
}

.user-img{
   width: 30px;
   height: 30px; 
   border-radius: 50%;
}
.cursor svg{
       color: #ffffff ;
    }

.notify{
    svg{
       color: #ffffff;
    }
}
.notification{
    svg{
        color: rgb(189, 8, 8);
       
    }
    margin-top: -32px;
    margin-left: 5px;
}

.nav-items{
    display: flex;
    justify-content: space-between;
}
.left-image{
    background-color: #31aabc;
   img{
       width: 100%;
       height:200px;
   }

}
.right-image{
    img{
        width: 100%;
        height:200px;
    }
 
 }

 .author-img{
     img{
     width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

 }
