<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zeynep Page</title>
    <link rel="stylesheet" href="./css/main.css" />

</head>
<body>

<!--NAVBAR-->

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">BizLand</span>

        <div class="d-flex">
            <ul class="nav justify-content-end">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Portfolio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Team</a>
                </li>

                <li class="nav-item dropdown">
                    <a id="navbarDropdown" href="#" class="nav-link dropdown-toggle">Dropdown</a>
                </li>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="#" class="dropdown-item">Dropdown1</a></li>
                    <li><a href="#" class="dropdown-item">Dropdown2</a></li>
                    <li><a href="#" class="dropdown-item">Dropdown3</a></li>
                </ul>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Contact</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!--NAVBAR END-->


<!--HOME-->

<div id="home" class="container ">
    <div class="row">

        <img src="img/hero-bg.jpg" alt="background">
        <!--        <div class="image-overlay">-->

        <h1>Welcome to BizLand</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>

        <button type="button" class="btn btn-primary">GET STARTED</button>

    </div>
</div>
</div>


<div class="container home-inner">
    <div class="row ">

        <div class="col-md-3">

            <div style="width: 18rem;" class="card">

                <!--                <i class="bi bi-calendar"></i>-->
                <!--                                <img src="img/world-icon-vector-3.jpg" alt="image" class="card-img-top">-->

                <div class="card-body shadow p-3 rounded">
                    <h5 class="card-title">Lorem İpsum</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto est exercitationem
                        incidunt
                        magnam mollitia officia pariatur quaerat quod sunt.
                    </p>

                </div>
            </div>
        </div>


        <div class="col-md-3">

            <div style="width: 18rem;" class="card">

                <i class="bi bi-calendar"></i>

                <div class="card-body shadow p-3 rounded">
                    <h5 class="card-title">Lorem İpsum</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto est exercitationem
                        incidunt
                        magnam molltia officia pariatur quaerat quod sunt.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div style="width: 18rem;" class="card">

                <i class="bi bi-calendar"></i>

                <div class="card-body shadow p-3 rounded">
                    <h5 class="card-title">Lorem İpsum</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto est exercitationem
                        incidunt
                        magnam mollitia officia pariatur quaerat quod sunt.
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div style="width: 18rem;" class="card">

                <i class="bi bi-calendar"></i>

                <div class="card-body shadow p-3 rounded">
                    <h5 class="card-title">Lorem İpsum</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto est exercitationem
                        incidunt
                        magnam mollitia officia pariatur quaerat quod sunt.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center home-inner mt-5">

                <span class="badge rounded-pill bg-info text-dark">About</span>

                <h1>Find Out More About Us</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur dignissimos, magni
                    nihil vitae voluptatum.
                </p>
            </div>

            <div class="col-md-6 rounded">
                <img src="img/about.jpg" alt="">
            </div>

            <div class="col-md-6">
                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, ex.
                </p>

                <ul>

                    <li>
                        Lorem ipsum dolor sit amet, consectetur.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, dolor.
                    </li>

                    <li>
                        Lorem ipsum dolor sit amet, consectetur.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, dolor.
                    </li>
                </ul>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur consequuntur cum
                    cumque error, esse, harum ipsam libero maiores minima minus nesciunt omnis quis rem repellat
                    similique veritatis vero vitae!
                </p>

            </div>


        </div>
    </div>
</section>









<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>