<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zeynep Page</title>
    <link rel="stylesheet" href="./css/main.css"/>

</head>
<body>
<div class="body">


    <!--NAVBAR-->
    <div class="container">

        <nav class="navbar">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">BizLand</span>

                <div id="navbarBizland" class="d-flex">
                    <ul class="nav justify-content-end">

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Portfolio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Team</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" href="#" class="nav-link dropdown-toggle">Dropdown</a>
                        </li>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a href="#" class="dropdown-item">Dropdown1</a></li>
                            <li><a href="#" class="dropdown-item">Dropdown2</a></li>
                            <li><a href="#" class="dropdown-item">Dropdown3</a></li>
                        </ul>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Contact</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <!--NAVBAR END-->


    <!--HOME-->

    <div id="home">
        <div class="row">

            <div class="image-overlay">

                <div class="container home-inner">

                    <h1 class="fs-1 fw-bolder"><strong>Welcome to <span style="color: blue">Bizland</span></strong></h1>
                    <p class="fs-3">
                        We are team of talented designers making websites ootstrap
                    </p>

                    <div class="d-flex">
                        <a href="#" class="btn btn-primary">GET STARTED</a>
                        <a href="#" style="transition: 0.5s; display: flex; align-items: center; margin-left: 25px; ">
                            <i class="bi bi-play-circle" style="font-size:33px; "></i>
                            <span class="fs-5"> Watch Video</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--CARD-->

    <div class="container section-inner">
        <div class="row ">

            <div class="col-lg-3 col-md-6 pb-5">

                <div style="width: 18rem;" class="card">

                    <i class="bi bi-calendar"></i>

                    <div class="card-body shadow p-3 rounded">
                        <h5 class="card-title">Lorem İpsum</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto est
                            exercitationem
                            incidunt
                            magnam mollitia officia pariatur quaerat quod sunt.
                        </p>

                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">

                <div style="width: 18rem;" class="card">

                    <i class="bi bi-calendar"></i>

                    <div class="card-body shadow p-3 rounded">
                        <h5 class="card-title">Lorem İpsum</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto est
                            exercitationem
                            incidunt
                            magnam molltia officia pariatur quaerat quod sunt.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">

                <div style="width: 18rem;" class="card">

                    <i class="bi bi-calendar"></i>

                    <div class="card-body shadow p-3 rounded">
                        <h5 class="card-title">Lorem İpsum</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto est
                            exercitationem
                            incidunt
                            magnam mollitia officia pariatur quaerat quod sunt.
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">

                <div style="width: 18rem;" class="card">

                    <i class="bi bi-calendar"></i>

                    <div class="card-body shadow p-3 rounded">
                        <h5 class="card-title">Lorem İpsum</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto est
                            exercitationem
                            incidunt
                            magnam mollitia officia pariatur quaerat quod sunt.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--CARD END-->


    <section id="aboutUs">

        <div class="container  section-inner">
            <div class="row">

                <div class="col-12 text-center section-inner ">

                    <h5><span class="p-2 badge rounded-pill bg-dark text-primary ">ABOUT</span></h5>

                    <!--                <span class="badge rounded-pill bg-info text-dark ">About</span>-->

                    <h1 class="fw-2">Find Out More About Us</h1>

                    <p class="fw-3">
                        Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas
                        atque
                        vitae autem.
                    </p>
                </div>


                <div class="col-lg-6 rounded">
                    <img class="about-image" src="img/about.jpg" alt="image">
                </div>

                <div class="col-lg-6 pt-4">
                    <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                    <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua.
                    </p>

                    <ul>

                        <h5>
                            Ullamco laboris nisi ut aliquip consequat
                        </h5>

                        <li>
                            Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade
                        </li>
                    </ul>

                    <ul>

                        <h5>
                            Ullamco laboris nisi ut aliquip consequat
                        </h5>

                        <li>
                            Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade
                        </li>
                    </ul>

                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>

                </div>


            </div>
        </div>
    </section>


    <!--    CLIENTS-->

    <section id="clients">
        <div class="container section-inner pb-4 pt-4">
            <div class="row">

                <div class="col-lg-2">
                    <img class="bizlandImage" src="img/clients/client-1.png" alt="">
                </div>

                <div class="col-lg-2">
                    <img class="bizlandImage" src="img/clients/client-2.png" alt="">
                </div>

                <div class="col-lg-2">
                    <img class="bizlandImage" src="img/clients/client-3.png" alt="">
                </div>

                <div class="col-lg-2">
                    <img class="bizlandImage" src="img/clients/client-4.png" alt="">
                </div>

                <div class="col-lg-2">
                    <img class="bizlandImage" src="img/clients/client-5.png" alt="">
                </div>

                <div class="col-lg-2">
                    <img class="bizlandImage" src="img/clients/client-6.png" alt="">
                </div>

            </div>
        </div>
    </section>

    <!--    CLIENTS END-->

    <!--    SERVICES-->

    <div class="container section-inner text-center">
        <div class="row">
            <div class="col-lg-12">

                <h5><span class="p-2 badge rounded-pill bg-dark text-primary ">SERVICES</span></h5>

                <h3 class="fw-1">Check our Services</h3>

                <p class="pt-2 pb-3">
                    Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque
                    vitae autem.
                </p>

            </div>
        </div>
    </div>

    <!--    SERVICES END-->

    <!--CARD-2-->

    <div class="container">
        <div class="row">


            <div class="col-lg-4">
                <div style="width: 18 rem" class="card">
                    <img class="cardIcon" src="img/apple-touch-icon.png" alt="">

                    <div class="card-body">
                        <h3>Lorem ipsum</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div style="width: 18 rem" class="card">
                    <img class="cardIcon" src="img/apple-touch-icon.png" alt="">

                    <div class="card-body">
                        <h3>Lorem ipsum</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div style="width: 18 rem" class="card">
                    <img class="cardIcon" src="img/apple-touch-icon.png" alt="">

                    <div class="card-body">
                        <h3>Lorem ipsum</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row section-inner">

            <div class="col-lg-4">
                <div style="width: 18 rem" class="card">
                    <img class="cardIcon" src="img/apple-touch-icon.png" alt="">

                    <div class="card-body">
                        <h3>Lorem ipsum</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div style="width: 18 rem" class="card">
                    <img class="cardIcon" src="img/apple-touch-icon.png" alt="">

                    <div class="card-body">
                        <h3>Lorem ipsum</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div style="width: 18 rem" class="card">
                    <img class="cardIcon" src="img/apple-touch-icon.png" alt="">

                    <div class="card-body">
                        <h3>Lorem ipsum</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--CARD-2 END-->

    <!--TESTIMONIALS-->

    <section class="testimonials" id="testimonials">
        <div class="row">
            <div class="image-overlay section-inner">
                <div class="container text-center">
                    <div class="col-lg-12">

                        <img id="image-test" class="border border-5 rounded-circle"
                             src="img/testimonials/testimonials-1.jpg" alt="">
                        <h2>John Larson</h2>
                        <h5>Designer</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam aut corporis dolor
                            ducimus
                            id quasi quis voluptatum. Asperiores, quam.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--TESTIMONIALS END-->


    <!--    PORTFOLIO-->

    <div class="container section-inner text-center">
        <div class="row">
            <div class="col-lg-12">

                <h5><span class="pl-5 pr-5 pt-2 pb-2 badge rounded-pill bg-dark text-primary ">PORTFOLIO</span></h5>

                <h3 class="fw-1"><strong>Check our Portfolio</strong></h3>

                <p class="pt-2 pb-3">
                    Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque
                    vitae autem.
                </p>

            </div>


            <div class="col-lg-4">
                <img class="portfolio-image" src="img/portfolio/portfolio-1.jpg" alt="">
            </div>

            <div class="col-lg-4">
                <img class="portfolio-image" src="img/portfolio/portfolio-2.jpg" alt="">
            </div>

            <div class="col-lg-4">
                <img class="portfolio-image" src="img/portfolio/portfolio-3.jpg" alt="">
            </div>


            <div class="col-lg-4">
                <img class="portfolio-image" src="img/portfolio/portfolio-4.jpg" alt="">
            </div>

            <div class="col-lg-4">
                <img class="portfolio-image" src="img/portfolio/portfolio-5.jpg" alt="">
            </div>

            <div class="col-lg-4">
                <img class="portfolio-image" src="img/portfolio/portfolio-6.jpg" alt="">
            </div>


            <div class="col-lg-4">
                <img class="portfolio-image" src="img/portfolio/portfolio-7.jpg" alt="">
            </div>

            <div class="col-lg-4">
                <img class="portfolio-image" src="img/portfolio/portfolio-8.jpg" alt="">
            </div>

        </div>
    </div>

    <!--    PORTFOLIO END-->


    <!--TEAM-->

    <div class="container section-inner text-center">
        <div class="row">
            <div class="col-lg-12">

                <h5><span class="pl-5 pr-5 pt-2 pb-2 badge rounded-pill bg-dark text-primary ">TEAM</span></h5>

                <h3 class="fw-1"><strong>Our Hardworking Team</strong></h3>

                <p class="pt-2 pb-3">
                    Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque
                    vitae autem.
                </p>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-3">

                            <div style="width: 18rem" class="card">

                                <img class="card-img-top" src="img/team/team-1.jpg" alt="">
                                <div class="card-body rounded">
                                    <h5 class="fw-bold">Walter White</h5>
                                    <h6>Product Manager</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">

                            <div style="width: 18rem" class="card">

                                <img class="card-img-top" src="img/team/team-2.jpg" alt="">
                                <div class="card-body rounded">
                                    <h5 class="fw-bold">Sarah Jhonson</h5>
                                    <h6>Product Manager</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">

                            <div style="width: 18rem" class="card">

                                <img class="card-img-top" src="img/team/team-3.jpg" alt="">
                                <div class="card-body rounded">
                                    <h5 class="fw-bold">William Anderson</h5>
                                    <h6>Product Manager</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">

                            <div style="width: 18rem" class="card">

                                <img class="card-img-top" src="img/team/team-4.jpg" alt="">
                                <div class="card-body rounded">
                                    <h5 class="fw-bold">Amanda Jepson</h5>
                                    <h6>Product Manager</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--TEAM END-->


    <!--    PRICING-->

    <section id="pricing" class="section-inner text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <h5><span class="pl-5 pr-5 pt-2 pb-2 badge rounded-pill bg-dark text-primary">PRICING</span></h5>

                    <h3 class="fw-1 fw-bold">Check Our Pricing</h3>
                    <p>
                        Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas
                        atque vitae autem.
                    </p>
                </div>

                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h3 class="card-title">16 $</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                architecto consectetur eaque expedita id modi nihil omnis provident quae,
                                velit.architecto
                                consectetur eaque expedita id modi nihil omnis provident quae, velit.</p>
                            <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h3 class="card-title">10 $</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                architecto consectetur eaque expedita id modi nihil omnis provident quae,
                                velit.architecto
                                consectetur eaque expedita id modi nihil omnis provident quae, velit.</p>
                            <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h3 class="card-title">29 $</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                architecto consectetur eaque expedita id modi nihil omnis provident quae,
                                velit.architecto
                                consectetur eaque expedita id modi nihil omnis provident quae, velit.</p>
                            <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h3 class="card-title">32 $</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
                                architecto consectetur eaque expedita id modi nihil omnis provident quae,
                                velit.architecto
                                consectetur eaque expedita id modi nihil omnis provident quae, velit.</p>
                            <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--    PRICING END-->


    <!--    QUESTIONS-->


    <section class="questions text-center section-inner" id="questions">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 pt-4">

                    <h5><span class="pl-5 pr-5 pt-2 pb-2 badge rounded-pill bg-dark text-primary">F.A.Q</span></h5>

                    <h3 class="fw-bold">Frequently Asked Questions</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, esse hic molestiae numquam
                        quibusdam
                        quod.
                    </p>

                    <div class="container">

                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseOne" aria-expanded="false"
                                            aria-controls="flush-collapseOne">
                                        Non consectetur a erat nam at lectus urna duis?
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Feugiat pretium nibh ipsum consequat. Tempus iaculis
                                        urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna
                                        fringilla urna porttitor rhoncus dolor purus non.
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                            aria-controls="flush-collapseTwo">
                                        Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Dolor sit amet consectetur adipiscing elit pellentesque
                                        habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus
                                        faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper
                                        dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                            aria-controls="flush-collapseTwo">
                                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Eleifend mi in nulla posuere sollicitudin aliquam
                                        ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla
                                        pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                                        Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu
                                        facilisis sed odio morbi quis
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                            aria-controls="flush-collapseTwo">
                                        Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Dolor sit amet consectetur adipiscing elit pellentesque
                                        habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus
                                        faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper
                                        dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                            aria-controls="flush-collapseTwo">
                                        Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Molestie a iaculis at erat pellentesque adipiscing
                                        commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra
                                        maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida
                                        quis blandit turpis cursus in
                                    </div>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                            aria-controls="flush-collapseTwo">
                                        Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget
                                        lorem dolor?
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Laoreet sit amet cursus sit amet dictum sit amet justo.
                                        Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non
                                        nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in
                                        metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas
                                        egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit
                                        massa enim nec.
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
    </section>

    <!--    QUESTIONS END-->


    <!--    CONTACT-->
    <section id="contactBizland">
        <div class="container section-inner ">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h5><span class=" pl-5 pr-5 pt-2 pb-2 badge rounded-pill bg-dark">CONTACT</span></h5>
                    <h3 class="fw-bold">Contact Us</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dicta dolor ex ipsa iste,
                        magni nam odio quia unde vero.
                    </p>
                </div>

                <div class="row ">

                    <div class="col-lg-6 ">
                        <div class="card shadow">
                            <div class="card-body">
                                <h3 class="card-title">Our Address</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card shadow">
                            <div class="card-body">
                                <h3 class="card-title">Our Address</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card shadow">
                            <div class="card-body">
                                <h3 class="card-title">Our Address</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                </div>


                <form class="section-inner ">
                    <div class="container shadow">

                        <div class="row mb-3">

                            <div class="col-lg-3">
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>

                            <div class="col-lg-3">
                                <input type="text" class="form-control" placeholder="Your Email">
                            </div>

                        </div>


                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <input class="form-control" type="text" placeholder="Subject">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="form-floating">

                                <div class="col-lg-6">
                                <textarea class="form-control" placeholder="Message" name="text"
                                          rows="10"></textarea>

                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 text-center">
                            <div class="col-lg-6">
                                <button class="btn btn-primary">Send Message</button>
                            </div>
                        </div>
                    </div>

                </form>


                <!--                JOIN-US-->

                <section class="section-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="fw-bold">Join Our Newsletter</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>

                                <form>

                                    <input class="form-control" type="search" aria-label="search">
                                    <button type="submit" class="btn btn-primary">Subscribe</button>

                                </form>


                            </div>
                        </div>
                    </div>
                </section>

                <!--                JOIN-US END-->

                <!--FOOTER-->

                <section id="footerBizland">

                    <div class="section-inner">
                        <div class="row">

                            <div class="col-lg-6">
                                <h6>All Rights Reserved</h6>
                            </div>

                            <div class="col-lg-6">
                                <h6>Designed by Zeynep Unal</h6>
                            </div>

                        </div>
                    </div>
                </section>

                <!--FOOTER END-->


            </div>
        </div>

    </section>


    <!--    CONTACT END-->


    </section>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>