/* navbar */
body{
    display: flex;
    flex-direction: row;
    background-color: #373e57;
    color: #ccc8db;
}
    



h2{
height: 20px;
}




/* navbar end */

/* left side-menu */
.photo{
 max-width: 20pt;
 }

.nav-title h2{
    position: fixed;
}
.menu-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
 
}

.menu h4{
    margin-top: 100px;
    margin-left: 40px;   
}



.menu-list{
    margin: 20px;
}
.menu-elements .menu-list:hover{
color: floralwhite;

}
/* left side-menu end */
/*left side- your favourite */
.fav-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;  
}
.fav-list{
    margin: 20px;
}
#fav-head{
margin-top: 100px;
margin-left: 40px;   
}   

.fav-elements .fav-list:hover{
    color: floralwhite;
 }

.twt img{
    width: 15pt;

}

.left-side {
    display: flex;
    flex-direction: column;
    overflow: auto ;
    width: 280px;
    height: 700px;
    background-color: #151728;
    color: #ccc8db;
    border: 1px solid #272a3a;
   
}
::-webkit-scrollbar{
    height: 0px;
    width: 10px;
     
}

::-webkit-scrollbar-button {
  
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color:grey ;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #666666;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}




    

.twt button{
    width: 300px;
    
}
/*left side- your favourite end */

/* home */
.main-cont{
    width: 760px;
    height: 700px;
    display: flex;
   flex-direction: column;
   overflow: auto;
   padding-left: 20px;
   padding-right: 30px;
   
   
   
}

input{
    width: 760px;
    background-color: #151728;
    
    
    
}

::placeholder{
    color: #ccc8db;
}


label{ 
    border: none;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: 15pt;
    margin-left: 5px;
    
    
}
.pro-cont{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    
    
}


.bg-pht{
    width: 760px;
    height: 350px;
    background-image: url(https://images.unsplash.com/photo-1508247967583-7d982ea01526?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
    
}
.bg-pht img{
    width: 740px;
    height: 500px;
   
}



.profile{
    border-radius: 50%;
    width: 120px;
    
}

.main-menu{
   
    background-color: #151728;
    color: #ccc8db;
    width: 740px;
    height: 30px;
    font-size: 15pt;
    
   
    
       
       
}
.main-menu a{
    color: #ccc8db;
    margin: 8px;
    text-decoration: none;
    
    
}
.main-menu a:nth-child(1){
    background-color: black;
    
    
}


.main-menu a:hover:not(.active){
    
    margin: 10px;
    background-color: black;
    text-decoration: underline;
       
}


/* home end */

/* time line */
.timeline-container{
    width: 760px;
    display: flex;
    flex-direction: row;
}

.timeline-left{
    width: 310px;
    margin-left:5px;
    margin-right: 15px;
}

.timeline-right{
    width: auto;
    margin-top: 40px;
    
}

.intro-box{
    width: 310px;
    height: 300px;
    background-color: #151728;
    color: #ccc8db;    
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


.intro-box img{
    width: 15pt;
    margin: 10px;
}

.intro-header img{
    width: 30px;
}

.intro-header{
    display: flex;
    flex-direction: row;
   
}
.intro-header img{
    margin-left: 130px;
}

.intro-item{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.date-box{
    padding: 5px;
    background-color: #151728;
    color: #ccc8db;
    width: 300px;
    height: 300px;
}

.date-box img{
    width: 300px;
    height: 280px;
    margin-top: 15px;  
    margin-bottom: 15px;
   
}
.date-box .header{


    background-color: #151728;
    color: #ccc8db;
}

.date-box .date{
  
   
    background-color: #151728;
    color: #ccc8db;
   }
   .date-box .dec{
       border: 1px solid #000;
       color: #000;
       
       border-width: 5px;
   }
  
   .date-box .day{
    border: 1px solid #000;
    border-width: 5px;
    color: #000;
   
}

.ypage-box{
    width: 310px;
    height: 330px;
    background-color: #151728;
    color: #ccc8db;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


.ypage-box img{
    width: 55px;
    height: 55px;
    margin: 10px;
    border-radius: 55%;
}

.ypage-header img{
    width: 30px;
    height: 30px;
}

.ypage-header{
    display: flex;
    flex-direction: row;
   
}
.ypage-header img{
    margin-left: 130px;
}

.ypage-item{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

/* timeline-right */

.share-box{
width: 430px;
height: 200px;
 background-color: #151728;
    color: #ccc8db;
    margin-top: -25px;


}

.share-menu a{
    margin: 20px;
    

}
.share-menu a{
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 18pt;
    color: gray;
   
}

.share-menu a:hover{
   background-color: darkblue ;
   border-radius: 30%;

   
}
.share-menu a:nth-child(1){
    background-color: darkblue;
}

.share-profile{
display: flex;
flex-direction: row;

}
.share-profile img{
width: 70px;
border-radius: 50%;
}
.share-profile input{
   
    width: 300px;
    height: 40px;
    border-radius: 20px;
   
}
.share-profile ::placeholder{
   color: #ccc8db;
   
}


.share-footer{
    display: flex;
    flex-direction: row;
    

}
.share-footer div{
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 20%;
}
.share-footer img{
    width: 30%;
    height: 30%;
    margin: 10px;
}

.share-footer button{
    width: 90px;
    height: 50px;
    border-radius: 30%;
    background-color: aqua;
    
}
.album-box{
    background-color: #151728;
    color: #ccc8db;
    margin-top: 15px;
}
.album-head{
    display: flex;
    flex-direction: row;
}

.album-profile img{
    width: 70px;
    border-radius: 50px;
    margin: 0 20px 0 20px ;
}

.album-dot{
    width: 15pt;
    margin-left: 30px;
}

.album-photo{
    display: flex;
    flex-direction: row;
}

.album-photo2 img{
    width: 130px;
    height: 130px;
    margin: 1px;
    border-radius: 10%;
}

.album-photo1 img{
    width: 150px;
    height: 200px;
    margin: 2px;
    border-radius: 10%;
}

/*  Right Side */

.right-side{
    width: 300px;
    height: 700px;
    overflow: auto;
    background-color: #151728;
    color: #ccc8db;
}

.right-nav{
    display: flex;
    flex-direction: row;


}

.right-nav img{
    width: 20pt;
    margin: 15px;
}

.right-nav select{
 border-style: hidden;
}



.right-stories img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 40px;
}

.stories-pht{
    display: flex;
    flex-direction: row;
 }

 .right-contacts img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 40px;
}

.contact-pht .dott img{
    width: 15pt;
    height: 15pt;
}

.contact-pht{
    display: flex;
    flex-direction: row;
}

.dott{
    margin-top: 15px;
    margin-left: 20px;
}