/* navbar */
body{
    display: flex;
    flex-direction: row;
    background-color: #373e57;
    color: #ccc8db;
}
    



h2{
height: 20px;
}




/* navbar end */

/* left side-menu */
.photo{
 max-width: 20pt;
 }

.nav-title h2{
    position: fixed;
}
.menu-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
 
}

.menu h4{
    margin-top: 100px;
    margin-left: 40px;   
}



.menu-list{
    margin: 20px;
}
.menu-elements .menu-list:hover{
color: floralwhite;

}
/* left side-menu end */
/*left side- your favourite */
.fav-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;  
}
.fav-list{
    margin: 20px;
}
#fav-head{
margin-top: 100px;
margin-left: 40px;   
}   

.fav-elements .fav-list:hover{
    color: floralwhite;
 }

.twt img{
    width: 15pt;

}

.left-side {
    display: flex;
    flex-direction: column;
    overflow: auto ;
    width: 280px;
    height: 700px;
    background-color: #151728;
    color: #ccc8db;
    border: 1px solid #272a3a;
   
}
::-webkit-scrollbar{
    height: 0px;
    width: 10px;
     
}

::-webkit-scrollbar-button {
  
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color:rgb(46, 43, 43) ;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #666666;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}




    

.twt button{
    width: 300px;
    
}
/*left side- your favourite end */

/* home */
.main-cont{
    width: 760px;
    height: 700px;
    display: flex;
   flex-direction: column;
   overflow: auto;
   padding-left: 5px;
   padding-right: 20px;
   box-shadow: 0 0 20px #ece0c9 ;
   
}

input{
    width: 760px;
    background-color: #151728;
    
    
    
}

::placeholder{
    color: #ccc8db;
}


label{ 
    border: none;
    width: fit-content;
    height: fit-content;
    font-weight: bolder;
    font-size: 15pt;
    margin-left: 5px;
    
    
}
.pro-cont{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    background-position: center;
    
    
}


.bg-pht{
    width: 780px;
    height: 350px;
    border-radius: 0 0 10px 10px;
 
}
.bg-pht img{
    width: 767px;
    height: 500px;
    
}



.profile{
    border-radius: 50%;
    width: 120px;
    
}

.main-menu{
   
    background-color: #151728;
    color: #ccc8db;
    width: 767px;
    height: 30px;
    font-size: 15pt;
    
   
    
       
       
}
.main-menu a{
    color: #ccc8db;
    margin: 8px;
    text-decoration: none;
    
    
}
.main-menu a:first-child:active{
    background-color: #323b4c;
    
    
}


.main-menu a:hover:not(.active){
    
    padding-bottom: 5px;
    background-color: #0d0f11;
    border-bottom: 3px solid #1488fa ;
}


/* home end */

/* time line */
.timeline-container{
    width: 767px;
    display: flex;
    flex-direction: row;
}

.timeline-left{
    width: 313px;
    margin-right: 15px;
}

.timeline-right{
    width: auto;
    margin-top: 40px;
    
}

.intro-box{
    width: 310px;
    height: 300px;
    background-color: #151728;
    color: #ccc8db;    
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


.intro-box img{
    width: 15pt;
    margin: 10px;
}

.intro-header img{
    width: 30px;
}

.intro-header{
    display: flex;
    flex-direction: row;
   
}
.intro-header img{
    margin-left: 130px;
}

.intro-item{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.date-box{
    padding: 5px;
    background-color: #151728;
    color: #ccc8db;
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
}

.date-box img{
    width: 300px;
    height: 280px;
    margin-top: 15px;  
    margin-bottom: 15px;
    position: absolute;
    z-index: 2;
   
}

.ser{
    position: absolute;
    z-index: 3;
}

.date-box .header{


    background-color: #151728;
    color: #ccc8db;
    
    
}


  
   .date-box .dec{
    background-color: #1687fa;
    padding: 7px 20px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    text-align: center;
    border-radius: 4px 4px 0 0;
    width: max-content;
   }
  
   .date-box .day{
    background-color: transparent;
    padding: 7px 20px;
    font-weight: 800;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    box-sizing: 1px;
    border-radius: 4px 4px 0 0;
    
   

   
}

.ypage-box{
    width: 310px;
    height: 330px;
    background-color: #151728;
    color: #ccc8db;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


.ypage-box img{
    width: 55px;
    height: 55px;
    margin: 10px;
    border-radius: 55%;
}

.ypage-header img{
    width: 30px;
    height: 30px;
}

.ypage-header{
    display: flex;
    flex-direction: row;
   
}
.ypage-header img{
    margin-left: 130px;
}

.ypage-item{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

/* timeline-right */

.share-box{
width: 440px;
height: 200px;
 background-color: #151728;
    color: #ccc8db;
    margin-top: -25px;


}

.share-menu a{
    margin: 20px;
    

}
.share-menu a{
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 18pt;
    color: gray;
   
}

.share-menu a:hover{
    margin: 10px;
    background-color: #0d0f11;
    text-decoration: underline;
    text-decoration-color: #1488fa;
    text-decoration-thickness: 5px;

   
}


.share-profile{
display: flex;
flex-direction: row;

}
.share-profile img{
width: 70px;
border-radius: 50%;
}
.share-profile input{
   
    width: 300px;
    height: 40px;
    border-radius: 20px;
   
}
.share-profile ::placeholder{
   color: #ccc8db;
   
}


.share-footer{
    display: flex;
    flex-direction: row;
    

}
.share-footer div{
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 20%;
}
.share-footer img{
    width: 30%;
    height: 30%;
    margin: 10px;
}

.share-footer button{
    width: 90px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    background-color: #1488fa;
    box-shadow: 0 0 30px #1488fa;
    color: snow;

}
.album-box{
    background-color: #151728;
    color: #ccc8db;
    margin-top: 15px;
   
    
}
.album-head{
    display: flex;
    flex-direction: row;
}

.album-profile img{
    width: 70px;
    border-radius: 50px;
    margin: 0 20px 0 20px ;
}

.album-dot{
    width: 15pt;
    margin-left: 30px;
}

.album-photo{
    display: flex;
    flex-direction: row;
}

.album-photo2 img{
    width: 130px;
    height: 130px;
    margin: 1px;
    border-radius: 10%;
}

.album-photo1 img{
    width: 150px;
    height: 200px;
    margin: 2px;
    border-radius: 10%;
}

/*  Right Side */

.right-side{
    width: 300px;
    height: 700px;
    overflow: auto;
    background-color: #151728;
    color: #ccc8db;

}

.right-nav{
    display: flex;
    flex-direction: row;


}

.right-nav img{
    width: 20pt;
    margin: 15px;
}

.right-nav select{
 border-style: hidden;
}


.select{
    background-color: transparent;
    box-sizing: none; 
    padding-top: 17px;
    
}


.right-stories img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 40px;
}

.stories-pht{
    display: flex;
    flex-direction: row;
 }

 .right-contacts img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 40px;
}

.contact-pht .dott img{
    width: 15pt;
    height: 15pt;
}

.contact-pht{
    display: flex;
    flex-direction: row;
}

.dott{
    margin-top: 15px;
    margin-left: 20px;
}