.img-row
{
    width:100%;
    height: 100%;
}
.col-lg-4
{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3
{
    color: wheat;
}
.carousel-inner
{
    margin-bottom: 50px;
}

.image-slider
{
    width: 500px;
    height: 350px;
}
