body{
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}
div{
    width: 100px;
    height: 100px;
    background-color: beige;
}
.area{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr); 
}
div:nth-child(1){
    box-shadow: 0 3px 10px rgb(0 0 0/0.2);
}
div:nth-child(2){
    box-shadow: 10px 10px black;
}

div:nth-child(3){
    box-shadow: 0 0 5px red;
}
div:nth-child(4){
    box-shadow: 0 8px 8px -4px black;
}

div:nth-child(5){
    box-shadow: 0 0 10px black;
    border-radius: 50%;
}

div:nth-child(6){
    box-shadow: 0 -5px 3px -3px rgb(65, 33, 33) , 0 -5px 3px -3px rgb(65, 33, 33);
    
}