body{
  overflow-y:scroll ;
  overflow-x:hidden;
}

:root, body, html{
  background-color: #f5f5f5;
  box-sizing:border-box;
} 

div, h1,h2,h3,h4,h5,h6,header,html,i,img,label,li,nav,p,small,span,ul{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size:100%;
  vertical-align: baseline;
  background: transparent;
}

body{
  font-family: Arial, sans-serif;
}

@-webkit-keyframes fadeIn{

  from{
    opacity:0;
  }
  to{
    apacity:1;
  }
}
@keyframes fadeIn{

  from{
    opacity:0;
  }
  to{
    apacity:1;
  }
}

.gear {
  -webkit-animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  -o-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to   {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to   {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}
