*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.navbar{ 

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: lightcoral;
}
.navbar img{
    width: 20%;
}
