* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: lightcoral;
}
.navbar img {
  width: 20%;
}
#nav-cont {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.nav-link {
  list-style: none;
  width: 50px;
}
