* {
  padding: 0;
  margin: 0;
 
}
.navbar{
  display: flex;
}
.navbar-title{
  background-color: red;
  padding: 20px;
  text-align: center;
  margin: 20px;
  
}

.navbar img {
  
  padding: 10;
  margin: 10;
 
  width: 30%;
}

#nav-cont {
  display:flex;
  flex-direction: row;
  justify-content: right;
  background-color: slategray;
  margin: 20px;
  padding: 20px;
  align-items: flex-end;
  list-style: none;
}
#menu{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 30px;
  border-color: darkslategray;
  font-size: larger;
}
.news-cont{
  margin: 20px;
  padding: 20px;
  width: 90%;
  display: flex;
<<<<<<< HEAD
  justify-content: space-between;
  flex-direction: row;
  
=======
  justify-content: stretch;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.nav-link {
  list-style: none;
  width: 50px;
>>>>>>> 5f881abe69aa94eb1650ceff98409c07c6c3cf6d
}

.new-vid1{
  margin: 20px;
  width: 40%;
}