$darkblue: #364F6BFF;
$blue: #4bbec9;
$white: #ffffff;


body {
  background-color: $dark;
  color: $white;
}


.navbar {
  border-bottom: $primary 3px solid;
  opacity: 0.8;
}

#home {
  background-image: url(../img/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  min-height: 700px;

  .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: rgba($color: #000000, $alpha: 0.8);
  }
}

.home-inner {
  margin-top: 150px;
}

.section-inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

#discover {
background-color: $darkblue;
}

#explore {
  background-color: $white;

}

#friends {
  background-color: $blue;

}

#newFriends {
  background-color: $darkblue;

}

#formEnd {
  background-color: $blue;

}

#footer {
  background-color: $darkblue;
}