body {
  margin: 0;
}
.header {
  background-color: orange;

}
.nav-link {
    color: #fff;
  }
  a {
    text-decoration: none;
  }
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px;
    width: 960px;
    margin: 0 auto;

  }
  .navbar-title {
      color: cornflowerblue;
      text-decoration-style: solid;
      width: 20px;
  }
  .navbar-title img {
      width: 200px;
  }
  .navbar-web {
      display: flex;
  }
  #navbar ul {
    list-style-type: none;
    display: flex;
  }
  #navbar ul li {
    margin: 10px;
  }
  #navbar ul li a:hover {
    color: #88888a;
  }
  #home {
   width: 960px;
   margin: 0 auto;
   background-color: whitesmoke;
  }
  .picture-two {
      width: auto;
      height: auto;
      display: flex;
      justify-content: space-around;
 
  }

  .picture-two .haber {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;

    margin: 10px;  /* and that, will result in a 10px gap */
  }
  .picture-info1 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-left: 200px;

  }
  .picture-title1 {
      display: flex;
      justify-content: space-around;
      margin-left: 50px;
  }
  .picture-one {
      height: 300px;
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 10px 0;
  }

  .picture-one img {
    width: 100%;
  }
  .picture-four {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 5px;
    padding-left: 20px;

  }
  .picture-info4 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
  }
  .picture-title4 {
    display: flex;
    justify-content: space-around;
}
.article-container{
    display: flex;
    flex-direction: row-reverse;
}