body nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #1d1f2f ;
   color: #fff ;
   margin-bottom: 1rem;
}

form {
    display: grid;
    grid-template-columns: 585px 50px 585px;
    justify-content: center;
    grid-template-rows: 50px 200px;
}
form textarea{
    font-size: 1.5rem;
}
form button{
    font-size: 1.5rem;
}

#action{
    grid-row: 1/2;
    grid-column: 2/3;
    
}

#firstLang{
    grid-column: 1/2;
}
#secondLang{
    grid-column: 3/4;
}
.fa-search{
    margin-left: -350px !important;
}

.langListModal{
background-color: red;
width:75rem;
height: 20rem;
position: absolute;
top: 63%;
left: 50%;
transform: translate(-50%,-50%);
}
