.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}
li {
  font-size: 20px;
  margin: 15px;
  font-weight: bold;
}
li:hover {
  color: rgb(1, 213, 250);
}
li img {
  width: 80%;
  border: 2px solid #fff;
}
li img:hover {
  color: white;
  font-size: 50px;
  -moz-box-shadow: 20px 20px 80px #ccc;
  -webkit-box-shadow: 80px 80px 80px #ccc;
  box-shadow: 10px 0px 50px #ccc;
}
.nameInput {
  margin: 1rem 0;
  width: 80%;
}

.margin-bttom
{
  margin-bottom: 2rem;
}
.modal {
 background-color: royalblue;
}
.delete-button
{
  width: 250px;
}
