.container {
    background-color: red;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .item {
    background-color: yellowgreen;
    margin: 20px;
    padding: 30px;
    font-size: 20px;
    width: 10%;
  }
  .item1 {
    order: 3;
    
  }
  .item2 {
    order: 1;
  }
  .item3 {
    order: 2;
  }
  .item4 {
    order: 0;
    
  }
  p {
      font-size: 0.5em;
  }
  @media (max-width: 1080px) {
      .container{
          background-color: blueviolet;
      }
      
  }
  @media (max-width: 768px) {
    .container{
        background-color: coral;
    }
    
}