*{
    padding: 0;
    margin: 0;
   
}



.video-bg{
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    

    
}
.upContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

.container{
    position: absolute;
    z-index: 1;
    height: 62vh !important;
    backdrop-filter: blur(40px);
    margin-top: 150px !important;
    background: #181616 ; 
    opacity: 80%;
    border-radius: 10px 10px 10px 10px;
    
}

.logo1{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    border: 3px solid red ;
    margin-left: 10px;
    
    
}

.logo2{
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid blue;
    margin-left: 10px;
    
    
}
.logo3{
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
    border: 3px solid yellow;
    margin-left: 10px;
    
    
}

.notify{
    width: 5px !important;
    height: 5px !important;
    color: #3a6df0;
    background-color: #3a6df0;
    border-radius: 50%;
}

.menu-item{
    text-decoration: none;
    
}
.menu-item:hover{
    border-bottom: 2px solid #ffffff ;
    color: #ffffff !important;
    
}

.user-profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.cloud{
    width: 25px;
    height: 25px; 
}
.bell{
    svg{
    width: 25px;
    height: 25px;
   
}
}

.notifyNumber{
 width: 15px;
 height: 15px;
 border-radius: 50%;
 border-radius: 2px solid #3a6df0;
 background-color: #3a6df0;
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: center;
 
 float: left;
 color: white;
 float: right;
 
}
.navGroups{
    justify-content: space-between !important;
}

.navFirstGroup{
    align-items: center;
}



.secNavGroups{
    justify-content: space-between;
    
}
.secNavSecondGroup{
    justify-self: flex-end;
  
}

.leftAndRightSide {
    margin: 0 !important;
    padding: 0 !important;
    
    .left-side{
        overflow: auto;
        height: 50vh ;
        
        color: white;
    }
    .right-side{
        overflow-x: hidden;
        overflow-y: auto;
        height: 50vh;  
    }
}

.imgAdobe{
    max-width: 680px !important;
    height: 200px;
    border-radius: 25px 25px 25px 25px;
    background: 
   linear-gradient(
    to right top,
    #cf4af3,
    #e73bd7,
    #f631bc,
    #fd31a2,
    #ff3a8b,
    #ff4b78,
    #ff5e68,
    #ff705c,
    #ff8c51,
    #ffaa49,
    #ffc848,
    #ffe652
   );
  
   img{
       display: flex;
       position: relative;
       object-position: center;
       object-fit: fill;
}
.adobeWrite{
    display: flex;
    margin-top: -100px;
    
}
.pragraph{
margin-top: 25px;
font-size: 10pt;

}

}
.content-wrapper-img{
   
    margin-top: -30px ;
    width: 200px;
    height: 200px;
}

.st{
    width: 25px;
    height: 25px;
    
}
.trialButton{
    font-size: 13px !important;
    margin-top: 25px;
    border-radius: 40px 40px 40px 40px !important;
}


.sectionInstalled{
    max-width: 680px !important;
    
    border-radius: 25px 25px 25px 25px !important; 
}

.circledButton{
    border : 1px solid #ffffff !important;
    border-radius: 24px 24px 24px 24px !important;

}

.dropdown-menu{
    border-radius: 15px 15px 15px 15px !important;
}

.green{
    svg{
    
    color:green;
   width: 34px !important;
   height: 34px !important;
    
}
}

.firstSection{
    justify-content: space-between;
}

.blue{
    svg{
    
    color:blue;
    width: 34px !important;
    height: 34px !important;
    }       
}

.updateThisApp{
    font-size: 8pt !important;
    border-radius: 28px 28px 28px 28px !important;
}

.pr{
    width: 25px;
    height: 25px; 
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
   }
   
   ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
   }

   #threeDot{
       svg{
       color: white !important;
    }
   }