.sayfa {
  width: 960px;
  margin: auto;
}
.kutu {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: #3498db;
  float: left;
  border: 5px solid #34495e;
  margin: 5px;
  text-align: center;
  font-size: 300%;
  color: #fff;
}
/* .kutu:nth-child(1) {
  background-color: orange;
} */
/* .kutu:nth-last-child(3) {
  background-color: #e67e22;
} */
 /*.kutu:nth-child(2n-1) {
  background-color: orange;
} */
/* .kutu:nth-child(odd) {
  background: orange;
} */
/*.kutu:nth-child(2n) {
  background: orange;
}*/
/*.kutu:nth-child(6n) {
  background: orange;
}*/
/*.kutu:nth-child(6n + 1) {
  background: orange;
}*/  