body{
    height: 100vh;
    margin: 0px;
    display: grid;
    place-items: center;
}
div{
    width: 100px;
    height: 100px;
    background-color: rgb(229, 227, 190);
}

.area{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

div:nth-child(1) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

div:nth-child(2) {
    box-shadow: 10px 10px black;
}

div:nth-child(3) {
    box-shadow: 0 0 5px 5px rgb(211, 151, 151);
}

div:nth-child(4) {
    box-shadow: 0 8px 8px -4px black;
}


div:nth-child(5) {
    border-radius: 50%;
    box-shadow: 0 8px 8px -4px black;
}