header
{
    background-color: coral;
}
a {
    text-decoration: none;
  }
header nav
{
    width: 960px;
    background-color: coral;
    display: flex;
    align-items: center;
    margin: auto;

}

#firstElementHeader img
{
    width: 15%;
    height: 15%;
}
#secondElementHeader ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
#secondElementHeader ul li
{
    margin: 5px;
}
#secondElementHeader ul li:hover
{
    color: crimson;
}
#section
{

    display: flex;
    height: 1300px;
    align-items: center;
}
#section-content
{
    width: 960px;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

   
}
.article-div
{
    margin-top: 90px;
    background-color: coral;
}
#firstArticle
{
    width: 960px;
    height: 360px;
}
#secondArticle
{
    width: 290px;
    height: 180px;
}

#section div nav
{
    width: 900px;
    height: 900px;
}

#second-content-article
{
    width: 960px;
    height: 500px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.second-content-element
{
    display: flex;
    width: 30%;
    flex-direction: column;
}
.second-content-div
{
    width: 100%;
    height: 180px;
    background-color: coral;
}
#third-Article
{
    width: 960px;
    height: 360px;
}
.article-div2
{
    width: 960px;
    height: 360px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.article-div2 p
{
    width: 450px;
    height: 250px;
    overflow:auto;
  
}
.article-div2 div
{
    width: 450px;
    height: 250px;
    background-color: coral;
  
}
footer nav
{
    width: 960px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
footer
{
    background-color: coral;
}




